   /* josefin sans font */
   @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

   /*  font-family: 'Josefin Sans', sans-serif; */

   /* ------------------------------------- */
   * {
       margin: 0px;
       padding: 0px;
       box-sizing: border-box;
       font-family: 'Josefin Sans', sans-serif;
   }

   html {
       font-size: 16px;
       scroll-behavior: smooth;
   }

   html,
   body {
       margin: 0px;
       padding: 0px;
       overflow-x: hidden;
       width: 100%;
       height: 100%;
   }

   a {
       text-decoration: none;
       color: white;
   }

   li {
       list-style-type: none;
       list-style-position: inside;
   }

   /* utility class */
   .btn {
       background-color: var(--p-pinky);
       color: var(--white);
       border: 2px solid transparent;
       font-weight: bold;
       padding: 10px 25px;
       border-radius: 30px;
       transition: transform .4s ease-out;
       font-size: .9rem;
   }

   .btn:hover {
       transform: scale(1.1);
   }

   h1 {
       font-size: 2rem;
   }

   h2 {
       font-size: 1.6rem;
   }

   h3 {
       font-size: 1.4rem;
   }

   h4 {
       font-size: 1.3rem;
   }

   h5,
   h6,
   p,
   a {
       color: var(--white);
       font-size: 1.2rem;
   }

   h1,
   h2,
   h3,
   h4 {
       color: var(--white);
   }

   /* variable */
   :root {
       --white: white;
       --p-pinky: #f9004d;
       --black: black;
       --p-left: 8%;
       --p-right: 8%;
   }
    /* buger */
    #close{
        display: none;
    }
    #openmenu{
        display: none;
    }
   /* hEADER */
   header {
       width: 100%;
       height: 100vh;
       background-color: var(--black);
       position: relative;
   }

   nav {
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding-top: 45px;
       padding-left: var(--p-left);
       padding-right: var(--p-right);
   }

   nav .logo {
       color: var(--white);
       letter-spacing: 1px;
       cursor: pointer;

   }

   nav .logo>a {
       font-size: 1.8rem;
   }

   span {
       color: var(--p-pinky);
   }

   nav ul li {
       display: inline-block;
       padding: 10px 25px;
   }

   nav ul li a {
       color: var(--white);
       font-weight: bold;
       text-transform: capitalize;
       transition: all .4s ease-out;

   }

   nav ul li a:hover {
       color: var(--p-pinky);
   }

   .content {
       position: relative;
       top: 50%;
       left: var(--p-left);
       transform: translateY(-50%);
   }

   .content h1 {
       font-size: 2.5rem;
       margin: 20px 0px 20px;
   }

   .content h3 {
       font-size: 1rem;
       margin-bottom: 50px;
   }

   .content h4 {
       color: #fcfc;
       letter-spacing: 2px;
       font-size: .8rem;
   }

   .mailform form {
       width: 380px;
       max-width: 100%;
       position: absolute;
   }

   .mailform form input:first-child {
       display: inline-block;
       width: 100%;
       padding: 14px 130px 14px 15px;
       border: 2px solid var(--p-pinky);
       outline: none;
       border-radius: 30px;
   }

   .mailform form input:last-child {
       position: absolute;
       display: inline-block;
       padding: 10px 30px;
       color: var(--white);
       box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
       top: 3px;
       right: 3px;
   }

   /* About SEction */
   .about {
       width: 100%;
       padding: 100px 0px;
       background-color: #191919;
   }

   .about-main {
       display: flex;
       justify-content: space-around;
       align-items: center;
       width: 1130px;
       max-width: 95%;
       margin: 0px auto;
   }

   figure {
       width: 40%;
   }

   .about-main figure img {
       height: auto;
       width: 100%;
   }

   .anout-text {
       width: 40%;
   }

   .anout-text h2 {
       font-size: 4.2rem;
       text-transform: capitalize;
       margin-bottom: 20px;

   }

   .anout-text h5 {
       font-size: 1.5rem;
       margin-bottom: 25px;
       letter-spacing: 3px;
       text-transform: capitalize;
   }

   .anout-text p {
       color: #fcfc;
       line-height: 28px;
       font-size: 1.2rem;
       margin-bottom: 45px;
   }

   /* services sec */
   #services {
       background-color: #101010;
       width: 100%;
       padding: 100px 0px;
   }

   .title h2 {
       font-size: 4rem;
       width: 1130px;
       margin: 30px auto;
       text-align: center;
       color: var(--p-pinky);
   }

   .box {
       display: flex;
       justify-content: center;
       align-items: center;
       min-height: 400px;
   }

   .card {
       height: 30%;
       width: 25%;
       padding: 20px 35px;
       background-color: #191919;
       border-radius: 20px;
       margin: 15px;
       position: relative;
       overflow: hidden;
       text-align: center;
       display: flex;
       flex-direction: column;
       row-gap: 10px;
   }

   .card i {
       font-size: 3.1rem;
       display: block;
       text-align: center;
       margin: 25px 0px;
       color: var(--p-pinky);
   }

   .card h5 {
       font-size: 2rem;
   }

   .pra {
       display: flex;
       flex-direction: column;
       row-gap: 20px;
       align-items: center;
   }

   .pra p {
       line-height: 25px;
       color: #fcfc;
   }

   .s-btn {
       border: 2px solid transparent;
   }

   .s-btn:hover {
       background-color: #101010;
       border: 2px solid var(--p-pinky);
       transform: unset;
   }

   /*contect me sec  */
   #contact-me {
       width: 100%;
       height: 300px;
       background-color: #191919;
       display: flex;
       align-items: center;
       flex-direction: column;
       justify-content: center;
   }

   #contact-me p {
       font-size: 2rem;
       font-weight: bold;
       margin: 25px;
   }

   /* footer */
   .f-logo a {
       font-size: 4rem;
       font-weight: bold;
   }

   footer {
       position: relative;
       width: 100%;
       height: 400px;
       background-color: #101010;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       row-gap: 10px;
   }

   footer p:nth-child(1) {
       font-size: 2rem;
       font-weight: bold;
   }

   footer p:nth-child(2) {
       font-size: 1.3rem;
       line-height: 26px;
       width: 500px;
       text-align: center;
   }

   .social-icon {
       display: flex;
   }

   .social-icon a {
       display: flex;
       justify-content: center;
       align-items: center;
       width: 45px;
       height: 45px;
       background-color: #f9004d;
       border-radius: 50px;
       color: var(--white);
       margin: 25px 10px;
       transition: transform 0.3s ease-in-out;
   }

   .social-icon a:hover {
       transform: scale(1.2);
   }

   .end {
       position: absolute;
       bottom: 30px;
       text-align: center;
   }

   .end a:hover {
       text-decoration: underline;
   }

   .buger-hover {
       font-size: 25px;
       transition: color 0.3s linear;
   }

   .buger-hover:hover {
       color: var(--p-pinky);
   }
      /* for tv and other max screen */
       @media screen and (min-width:1350px){
         body{
             max-width: 1300px;
             margin: 0px auto;
             background-color: #858585;
         }
       }
   /*  responsive for 991px */
   @media screen and (max-width:991px) {
     /* buger menu */
     /* naviagtor button */
    #close{
        display: inline-block;
    }
    #openmenu{
        display:inline-block;
    }
     .bargur-menu {
        position: fixed;
        background-image: linear-gradient(180deg, var(--p-pinky), #e8a08cdb);
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        z-index: 100;
        display: flex;
        flex-direction: column;
        /* font-size: 2rem; */
        text-align: center;
        padding: 50px 0px;
        left: -100vw;
    }
    .buger-hover {
        font-size: 32px;
    }
    /* Nav BAr */
    nav {
        width: 100%;
        margin-bottom: 30%;
    }

    nav .btn2 {
        width: 30%;
        padding: 10px;
        text-align: center;
    }

    nav ul li a {
        font-size: 1.67rem;
    }

    #close {
        text-align: right;
        width: 100%;
        padding: 0px 25px;

    }

    #menu {
        transition: left 0.4s linear;
    }

    #close a i {
        font-size: 1.5rem;
    }

    .btn2 {
        display: none;
    }

    /* header */
    nav .logo>a {
        font-size: 3rem;
    }
    /* heasder */
    .content {
        position: absolute;
        width: 400px;
    }
    .content h4 {
        font-size: 1.3rem;
    }
    .content h3 {
        font-size: 1.3rem;
        margin-bottom: 50px;
    }

   }
      

   /* ---------------------------------------- */
   /* Responsive 786px */
   @media screen and (max-width:768px) {


    /* about sec */
    .anout-text h2 {
        font-size: 2.2rem;
    }

    .anout-text h5 {
        font-size: 1rem;
    }

    .anout-text p {
        line-height: 25px;
        font-size: 1rem;
        margin-bottom: 13px;
        text-align: justify;
    }

    /* service sec */
    .title h2 {
        font-size: 4rem;
        width: 100%;
    }

    .box {
        flex-direction: column;
        width: 100%;
    }

    .card {
        width: 100%;
    }

    /* services */
    #services {
        background-color: #101010;
        width: 100%;
        padding: 100px 5%;
    }

    #services .title h2 {
        font-size: 3rem;
        width: 100%;
        margin: 15px auto;
        text-align: center;
        color: var(--white);
    }

    .card h5 {
        font-size: 2.2rem;
    }

    .pra p {
        line-height: 23px;
        color: #fcfc;
        text-align: center;
        word-wrap: break-word;
        word-spacing: 3px;
        font-size: 1.4rem;
    }

    .card {
        background-color: #2c2b2b;
    }

    .card i {
        font-size: 4rem;
    }
    /* footer */
    .f-logo a {
     font-size: 3rem;
 }
}
   @media screen and (max-width:500px) {

       html,
       body {
           margin: 0px;
           padding: 0px;
           overflow-x: hidden;
           width: 100%;
           height: 100%;
       }
      /* nav */
      nav .logo>a {
        font-size: 2.5rem;
    }
       /* Contect */
      .content {
    position: absolute;
     left: unset; 
     transform: unset; 
    text-align: center;
         width:100%;
}

       .mailform form {
           width: 100%;
       }

       .mailform form input:first-child {
           width: 70%;
           position: relative;
       }

       .mailform form input:last-child {
           padding: 10px 13px;
           right: 79px;
           width: 25%;
       }

       /* /about Section/ */
       .about {
           padding: 50px 2%;
       }

       .about-main {
           justify-content: center;
           align-items: center;
           width: 100%;
           flex-direction: column;
           row-gap: 15px;
       }

       figure {
           width: 100%;
       }

       .anout-text {
           width: 100%;
       }

       .anout-text h2 {
           font-size: 3.2rem;
           margin-bottom: 10px;
       }

       .anout-text h5 {
           font-size: 1.3rem;
           margin-bottom: 10px;
       }

       .anout-text p {
           font-size: 1rem;
           margin-bottom: 15px;
           text-align: justify;
           padding: 0px 5px;
       }

       .btn {
           width: 100%;
       }

       /* services */
       #services {
           padding: 50px 3%;
       }

       .box {
           flex-direction: column;
           width: 100%;
       }

       .card {
           width: 100%;
       }

       #services .title h2 {
           font-size: 3rem;
           width: 100%;
           margin: 15px auto;
           text-align: center;
           color: var(--white);
       }

       .pra p {
           line-height: 23px;
           color: #fcfc;
           text-align: justify;
           word-wrap: break-word;
           word-spacing: 3px;
       }

       /* contact me */
       #contact-me p {
           font-size: 1.7rem;
           margin-bottom: 15px;
           width: 84%;
           line-height: 30px;
       }

       #contact-me {
           height: 238px;
           padding: 50px 3%;
           text-align: center;
       }

       /* Footer */
       footer {
           padding: 20px 3%;
       }

       .f-logo a {
           font-size: 3rem;
       }

       footer p:nth-child(2) {
           font-size: 1.2rem;
           width: 100%;
       }
    
       
   }

   /* /Responsive 376px */
   @media screen and (max-width:480px) {

       .mailform form input:last-child {
           right: 59px;

       }
   }

   
